.NavBar {
  min-height: 100vh;
  width: 30vw;
  padding: 20px;
  background-color: #00AEDB;

  .toggleSection {
    padding-top: 10px;

    .checkboxLabel {
      display: flex;
      align-items: center;
      margin: 10px;

      input {
        margin-right: 10px;
      }

      h2 {
        color: #231F20;
        font-size: 22px;
        padding: 5px;
        margin: 0;
      }
    }
  }
}
