.NavBar {
    border: black solid 5px;
    width: 20vw;

    .toggleSection {
        padding-top: 50px;

        h2 {
            color: palevioletred;
            padding: 5px;
            margin: 10px;
        }
    }
}