* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    display: flex;

    @media only screen and (max-width: 768px) {
        display: block;
      }
}

.appTitle {
    font-size: 80px;
    text-align: center;

    @media only screen and (max-width: 768px) {
        font-size: 50px;
        margin-top: 15px;
      }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 35px;
      }
  }