* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    display: flex;
}

.appTitle {
    font-size: 80px;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }